
<div class="formGroup">
  <form [formGroup]="bfastForm" (ngSubmit)="onSubmit()" *ngIf="this.bfastservice.breakfastItem">

    <mat-form-field style="width:450px !important">
      Name:
      <input
      matInput
      id="name"
      type="text"
      formControlName="name"
      value={{this.bfastservice.breakfastItem.name}}
      dirty=true
      />
    </mat-form-field>
    <br />

    <mat-form-field style="width:450px !important">
      Address:
      <input
        matInput
        id="address"
        type="address"
        formControlName="address"
        value={{this.bfastservice.breakfastItem.address}}
      />
    </mat-form-field>
    <br />

    <mat-form-field style="width:450px !important">
        City:
        <input
        matInput
        id="city"
        type="text"
        formControlName="city"
        value={{this.bfastservice.breakfastItem.city}}
        />
      </mat-form-field>
      <br />

    <mat-form-field style="width:450px !important">
      State:
      <input
      matInput
      id="state"
      type="text"
      formControlName="state"
      value={{this.bfastservice.breakfastItem.state}}
      />
    </mat-form-field>
    <br />

    <mat-form-field style="width:450px !important" placeholder="enter an image url">
      Image:
      <input
      matInput
      id="image"
      type="text"
      formControlName="image"
      value={{this.bfastservice.breakfastItem.image}}
      />
    </mat-form-field>
    <br />

    <mat-form-field style="width:450px !important">
      Description:
      <input
      matInput
      id="desc"
      type="text"
      formControlName="desc"
      value={{this.bfastservice.breakfastItem.desc}}
      />
    </mat-form-field>
    <br />

      <button mat-raised-button type="submit">
        Submit
      </button>

  </form>
</div>
<br />
<span *ngIf="this.returnData">Chicken and waffle update was successful! Would you like to <a routerLink="/display">return home?</a></span>
<br />
<p>Did the chicken and waffles here go bad? <br />
  <a routerLink="/display"><button mat-raised-button (click)="deleteClick(this.bfastservice.breakfastItem.id)">Delete it!</button></a>
</p>
