<h1>Where can I get the best chicken and waffles?!</h1>
<div *ngIf="!this.allBreakfast">
  <h3>
    There are no entries yet :'(
    <br />
    Would you like to contribute to the growing database of the Chicken and
    Waffle Finder?
  </h3>
</div>
<a routerLink="/create"
  ><button mat-raised-button>Add a Breakfast Spot</button></a
>
<br />
<br />
<mat-grid-list rowHeight="25em" cols="4" *ngFor="let breakfast of allBreakfast">
  <mat-grid-tile colspan="2">
    <img src="{{ breakfast.image }}" id='img'/>
  </mat-grid-tile>

  <mat-grid-tile colspan="2">
    <div>
      <h2 class="titleFont" id="text-center">{{ breakfast.name }}</h2>
      <p id="content">
        <br />{{ breakfast.address }}<br />{{ breakfast.city }},
        {{ breakfast.state }}<br />{{ breakfast.desc }}
      </p>
      <br />

      <a routerLink="/edit/{{ breakfast.id }}"
        ><button mat-raised-button>edit</button></a
      >
    </div>
  </mat-grid-tile>
</mat-grid-list>
